<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>product_item_scroll_fire</key>
	<dict>
		<key>imageNameUnlocked</key>
		<string></string>
		<key>imageNameLocked</key>
		<string></string>
		<key>price</key>
		<integer>20</integer>
		<key>isUnlocked</key>
		<false/>
	</dict>
	<key>product_item_scroll_ice</key>
	<dict>
		<key>imageNameUnlocked</key>
		<string></string>
		<key>imageNameLocked</key>
		<string></string>
		<key>price</key>
		<integer>40</integer>
		<key>isUnlocked</key>
		<true/>
	</dict>
	<key>product_item_scroll_thunder</key>
	<dict>
		<key>imageNameUnlocked</key>
		<string></string>
		<key>imageNameLocked</key>
		<string></string>
		<key>price</key>
		<integer>35</integer>
		<key>isUnlocked</key>
		<true/>
	</dict>
	<key>product_item_scroll_wind</key>
	<dict>
		<key>imageNameUnlocked</key>
		<string></string>
		<key>imageNameLocked</key>
		<string></string>
		<key>price</key>
		<integer>10</integer>
		<key>isUnlocked</key>
		<false/>
	</dict>
	<key>product_item_tool_mine</key>
	<dict>
		<key>imageNameUnlocked</key>
		<string></string>
		<key>imageNameLocked</key>
		<string></string>
		<key>price</key>
		<integer>10</integer>
		<key>isUnlocked</key>
		<false/>
	</dict>
	<key>product_item_tool_medikit</key>
	<dict>
		<key>imageNameUnlocked</key>
		<string></string>
		<key>imageNameLocked</key>
		<string></string>
		<key>price</key>
		<integer>10</integer>
		<key>isUnlocked</key>
		<false/>
	</dict>
	<key>product_item_tool_shuriken</key>
	<dict>
		<key>imageNameUnlocked</key>
		<string></string>
		<key>imageNameLocked</key>
		<string></string>
		<key>price</key>
		<integer>10</integer>
		<key>isUnlocked</key>
		<false/>
	</dict>
</dict>
</plist>
