<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>product_item_scroll_ice</string>
	<string>product_item_scroll_fire</string>
	<string>product_item_scroll_thunder</string>
	<string>product_item_scroll_wind</string>
	<string>product_item_tool_medikit</string>
	<string>product_item_tool_shuriken</string>
	<string>product_item_tool_mine</string>
</array>
</plist>
